* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

ul li {
  list-style: none;
}

.background{
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.header{
    border-bottom: 1px solid rgba(275, 275, 275, 0.5);
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.logo{
    background-color: #11749e;
    padding: 15px;
    color: #fff;
    font-family: 'Open Sans';
    font-size: 30px;
    font-weight: bold;
    box-shadow: 10px 8px rgba(255, 255, 255, 0.7);
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    margin-right: 55px;
}

.nav_list{
    display: flex;
}

.nav_li{
    border-bottom: 5px solid transparent;
    margin: 0px 10px;
    padding: 40px 15px 35px 15px;
}

.nav_li:nth-child(1){
    margin-left: 0px;
}

.nav_li:nth-child(6){
    margin-right: 0px;
}

.nav_li:hover{
    border-bottom-color: #11749e;
    transition: 0.2s;
}

.nav_link{
    color: #fff;
    font-family: 'Myriad Pro';
    font-size: 20px;
    text-decoration: none;
}

.social{
    font-size: 20px;
    justify-content: space-between;
}

.social_link{
    text-decoration: none;
    color: #fff;
}

.fab{
    margin-right: 13px;
}

.fab:hover{
    transform: scale(1.3);
    transition: 0.2s;
}

.menu_burger{
    display: none;
}

.fa, .fas {
    font-size: 25px;
    color: #fff;
}

.menu_hidden{
    width: 320px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    transform: translate(0, -100%);
    opacity: 0;
    transition: 0.2s ease;
}

.menu_hidden_active{
    transform: translate(0, 0);
    opacity: 1;
}

.section_block{
    padding: 275px 0px 110px 0px;
}

.block_titles{
    text-align: center;
    font-family: 'Gotham Pro';
    text-transform: uppercase;
}

.block_title{
    color: #fff;
    font-weight: bold;
    font-size: 152px;
    letter-spacing: 5px;
}

.block_second_title{
    font-size: 24px;
    letter-spacing: 18px;
    word-spacing: 14px;
    font-weight: 500;
    color: #11749e;
    margin-bottom: 120px;
}

.scroll{
    text-align: center;
}

.scroll_text{
    font-size: 13px;
    color: #fff;
    font-family: 'Open Sans';
    margin-bottom: 25px;
}

.circle{
    width: 65px;
    height: 65px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
}

.arrow{
    width: 12px;
    height: 12px;
    border-top: 0px solid transparent;
    border-left: 4px solid #fff;
    border-bottom: 4px solid #fff;
    transform: rotate(-45deg);
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: 0 auto;
    animation: arrow 1s infinite;
}

@keyframes arrow{
    from{
        top: 30%;
    }
    to{
        top: 45%;
    }
}

.agency{
    background-color: #11749e;
    padding: 100px 0px 100px 0px;
    font-family: 'Gotham Pro';
}

.agency_titles{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.agency_title{
    color: #fff;
    font-size: 37px;
    font-weight: 600;
    position: absolute;
    top: 40%;
    left: 0%;
    right: 0;
    margin: 0 auto;
}

.bg_letter{
    color: rgba(275, 275, 275, 0.3);
    font-size: 247px;
    font-family: 'Roboto Condensed';
}

.agency_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.agency_item{
    flex: 0 0 235px;
}

.item_img{
    border-radius: 50%;
    background-color: rgba(275, 275, 275, 0.1);
    width: 133px;
    height: 133px;
    margin: 0 auto;
}

.item_svg{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.item_item{
    text-align: center;
    padding: 25px 0px 25px 0px;
    font-family: 'Gotham Pro';
    color: #fff;
}

.item_title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.item_text{
    font-size: 15px;
    line-height: 1.5em;
    font-family: 'Myriad Pro';
}

.section_akita{
    background-color: #222222;
}

.akita_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1600px;
    margin: 0 auto;
}

.akita_item{
    flex: 0 1 450px;
    margin: 0 auto;
    font-family: 'Gotham Pro';
}

.akita_content .light_version{
    color: #fff;
}

.akita_content .dark_version{
    color: #222;
}

.akita_info{
    font-size: 13px;
    margin-bottom: 20px;
    display: flex;
}

.akita_date{
    position: relative;
    padding-right: 30px;
}

.akita_date::after{
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    top: calc(50% - 6px);
    width: 2px;
    height: 12px;
    background:  rgba(275, 275, 275, 0.5);
}

.akita_title{
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.akita_text{
    font-size: 15px;
    line-height: 1.5em;
}

.akita_text:first-child{
    margin-bottom: 35px;
}

.akita_img{
    flex: 0 1 50%;
}

.akita_img_item{
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.img_dark_item{
    object-position: left;
}

.section_akita_second{
    background-color: #f3f3f3;
}

.dark_date::after{
    content: '';
    display: block;
    position: absolute;
    right: 15px;
    top: calc(50% - 6px);
    width: 2px;
    height: 12px;
    background: #222222;
}

.blog{
    padding: 90px 0px 70px 0px;
}

.blog_header{
    padding-bottom: 80px;
    text-align: center;
}

.blog_titles{
    padding-bottom: 40px;
}

.block_letter{
    position: relative;
}

.blog_letter{
    position: absolute;
    font-size: 247px;
    font-family: 'Roboto Condensed';
    color: rgba(0, 0, 0, 0.1);
    left: 0%;
    right: 0%;
    margin: 0 auto;
    top: 50%;
    transform: translate(0, -30%);
}

.blog_title{
    padding-top: 100px;
    text-transform: uppercase;
    font-size: 37px;
    color: #222222;
    font-family: 'Gotham Pro';
}

.blog_description{
    color: #222222;
    font-size: 30px;
    font-family: 'Gotham Pro';
    margin-top: 65px;
}

.blog_items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog_item{
    flex: 0 0 270px;
    margin-bottom: 40px;
}

.blog_img{
    max-width: 100%;
}

.blog_content{
    padding: 45px 5px 0px 5px;
}

.blog_itemTitle{
    font-size: 18px;
    color: #11749e;
    font-family: 'Gotham Pro';
    text-transform: uppercase;
    margin-bottom: 25px;
}

.blog_text{
    font-size: 15px;
    line-height: 1.6em;
    color: #222222;
    font-family: 'Myriad Pro';
    text-align: center;
}

.section_writes{
    background-color: #11749e;
}

.writes{
    display: flex;
    justify-content: space-between;
    padding: 115px 0px 130px 0px;
    flex-wrap: wrap;
}

.writes_item{
    display: flex;
    flex: 0 1 555px;
    margin-bottom: 30px;
}

.writes_img{
    margin-top: 5px;
    align-self: flex-start;
}

.writes_text{
    font-size: 15px;
    color: #fff;
    font-family: 'Gotham Pro';
    margin-left: 35px;
    line-height: 1.5em;
}

.section_abilities{
    background-image: url('../img/img_bgwork.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
}

.abilities{
    font-family: 'Gotham Pro';
    padding: 228px 0px 220px 0px;
}

.abilities .light_version{
    color: #fff;
}

.abilities_content{
    padding-left: 20px;
}

.abilities_header{
    max-width: 450px;
    margin-bottom: 70px;
}

.abilities_row{
    padding: 15px 0px 15px 20px;
    background-color: #11749e;
    margin-bottom: 25px;
}

.abilities_row:nth-child(1){
    width: 370px;
}

.abilities_row:nth-child(2){
    width: 400px;
}

.abilities_row:nth-child(3){
    width: 430px;
}

.abilities_row:nth-child(4){
    width: 460px;
}

.abilities_title{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}

.ourteam{
    padding: 70px 0px 50px 0px;
}

.ourteam_titles{
    text-align: center;
    padding-bottom: 70px;
}

.item_titles{
    position: relative;
}

.ourteam_firstTitle{
    font-family: 'Roboto Condensed';
    font-size: 247px;
    color: rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.ourteam_firstTitle, .form_title{
    top: 50%;
    transform: translate(0, -50%);
}

.ourteam_secondTitle{
    font-family: 'Gotham Pro';
    font-size: 37px;
    color: #222222;
    text-transform: uppercase;
    padding: 9% 0px 65px 0px;
}

.ourteam_description{
    font-size: 30px;
    color: #222222;
    font-family: 'Gotham Pro';
    margin-top: 65px;
}

.ourteam_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ourteam_item{
    flex: 0 0 270px;
    margin-bottom: 75px;
    position: relative;
}

.ourteam_photo{
    max-width: 100%;
}

.item_content{
    position: absolute;
    padding: 20px 35px;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -45px;
    text-align: center;
    font-family: 'Gotham Pro';
    max-width: 215px;
}

.item_name{
    color: #11749e;
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.item_profession{
    font-size: 15px;
}

.section_form{
    background-image: url('../img/bg_coffee.jpg');
    background-size: cover;
}

.form{
    padding: 145px 0px 100px 0px;
}

.form_titles{
    position: relative;
    text-align: center;
    height: 182px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.form_title{
    font-family: 'Roboto Condensed';
    font-size: 247px;
    color: rgba(275, 275, 275, 0.1);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.form_secondTitle{
    color: #fff;
    font-size: 37px;
    font-family: 'Gotham Pro';
    position: relative;
    top: 50%;
}

.form_forms{
    font-family: 'Gotham Pro';
}

.form_info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

input::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 1);
}

input:focus::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.4);
}

textarea::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 1);
}

textarea:focus::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.4);
}

.forms{
    flex: 0 1 31%;
    border: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    font-family: 'Gotham Pro';
    padding: 20px;
    background-color: transparent;
}

.forms:focus{
    outline: none;
}

.form_message{
    min-width: 100%;
    max-width: 100%;
    max-height: 165px;
    margin-bottom: 45px;
}

.button{
    padding: 20px 65px;
    cursor: pointer;
    background-color: #11749e;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.section_map{
    height: 330px;
    width: 100%;
}

.footer{
    background-color: #222;
    padding: 45px 0px;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto Condensed';
    flex-wrap: wrap;
    color: #fff;
    font-size: 13px;
}


@media (max-width: 1175px){
    .logo{
        margin-left: 10px;
    }
    
    .social{
        font-size: 16px;
    }

    .nav {
        margin-right: 15px;
    }

    .section_block{
        padding-top: 150px;
    }

    .agency_items{
        justify-content: space-around;
    }

    .writes{
        justify-content: space-around;
        padding: 110px 0 80px 0;
    }

    .blog_items{
        justify-content: space-around;
    }

    .ourteam_items{
        justify-content: space-around;
    }

    .form{
        padding: 145px 10px 100px 10px;
    }

    .footer_content{
        padding: 0 10px;
    }
}

@media (max-width: 1024px){
    .nav_li {
        margin: 0px 5px;
    }
    
    .block_title{
        font-size: 100px;
    }

    .block_second_title {
        font-size: 23px;
        letter-spacing: 7px;
        word-spacing: 0px;;
        margin-bottom: 75px;
    }

    .akita_info {
        font-size: 12px;
    }

    .akita_title {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .akita_text:first-child{
        margin-bottom: 15px;
    }

    .akita_text{
        font-size: 14px;
    }

    .abilities {
        padding: 100px 0px;
    }

    .abilities_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-left: 0px;
    }

    .form {
        padding: 45px 10px 60px 10px;
    }
}

@media (max-width: 899px){
    .header_content{
        padding: 10px 10px;
    }
    
    .logo {
        padding: 10px;
        font-size: 24px;;
        box-shadow: 8px 8px rgb(255 255 255 / 70%);
        margin: 0;
    }

    .nav_active{
        display: none;
    }

    .social{
        margin-right: 15px;
        font-size: 18px;
    }
    
    .menu_burger{
        position: relative;
        display: block;
        z-index: 99;
    }

    .nav_list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
    }

    .nav_li {
        margin: 0;
        border-bottom: none;
        padding: 0 0 35px 0;
    }

    .akita_item {
        flex: 0 1 450px;
        margin: 50px auto;
        order: 1;
    }

    .akita_img{
        flex: 0 1 100%;
        height: 300px;
        background: url("../img/img_workplace.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        order: 2;
    }

    .akita_dark_img{
        background: url("../img/img_workplace_design.jpg");
        background-position: left top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .akita_img_item{
        display: none;
    }

    .writes {
        padding: 70px 0 40px 0;
    }
}

@media (max-width: 725px){
    .agency_title {
        font-size: 25px;
    }

    .bg_letter {
        font-size: 160px;
    }

    .agency_titles {
        margin-bottom: 35px;
    }

    .agency {
        padding: 60px 0px 60px 0px;
    }
    
    .blog {
        padding: 30px 0px 40px 0px;
    }

    .blog_content {
        padding: 25px 5px 0px 5px;
    }

    .ourteam_firstTitle, .blog_letter {
        font-size: 150px;
    }

    .ourteam_firstTitle{   
        transform: translate(0, -50%);
    }

    .ourteam_description, .blog_description{
        margin-top: 20px;
        font-size: 18px;
    }

    .abilities {
        padding: 65px 0px;
    }
    
    .form_secondTitle {
        font-size: 20px;
    }

    .form_title {
        font-size: 150px;
    }

    .form_info {
        flex-direction: column;
        align-items: center;
    }

    .forms{
        width: 100%;
        margin-bottom: 20px;
    }

    .forms:last-child{
        margin-bottom: 0;
    }
}

@media (max-width: 640px){
    .block_title{
        font-size: 55px;
    }

    .block_second_title {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .footer {
        padding: 20px 0px;
    }
}

@media (max-width: 570px){
    .writes_item{
        flex-direction: column;
        align-items: center;
    }

    .writes_img{
        align-self: center;
        margin-bottom: 15px;
    }

    .writes_text{
        text-align: center;
        margin-left: 0;
    }

    .abilities_row:nth-child(2) {
        width: 300px;
    }

    .abilities_row:nth-child(3) {
        width: 330px;
    }

    .abilities_row:nth-child(4) {
        width: 360px;
    }
}

@media (max-width: 450px){
    .akita_item {
        text-align: center;
    }

    .akita_info {
        justify-content: center;
    }

    .blog_letter {
        transform: translate(0, -17%);
    }

    .footer_content{
        flex-direction: column;
        align-items: center;
    }

    .footer_left{
        margin-bottom: 10px;
    }
}

@media (max-width: 370px){
    .block_title {
        font-size: 42px;
    }

    .block_second_title {
        font-size: 16px;
        letter-spacing: 0px;
    }

    .abilities_row:nth-child(2) {
        width: 100%;
    }

    .abilities_row:nth-child(3) {
        width: 100%;
    }

    .abilities_row:nth-child(4) {
        width: 100%;
    }
}

@media (max-width: 320px){
    .blog {
        padding: 0px 0px 40px 0px;
    }
}